.card-sale {
    margin: 0;
    width: 212px;
    height: 95px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(250, 250, 250, 0.4);
    border-radius: 10px;
}